.device-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
}

.header-title {
  font-size: 36px;
  color: #ffffff;
}

.search-section {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
}

.search-bar {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.devices-table {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
}

.devices-table th, .devices-table td {
  padding: 20px;
}

.devices-table th {
  font-weight: 600;
}

.action-button {
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.action-columns {
  display: flex;
  gap: 10px;
}

.success-button {
  background-color: #28a745;
  margin: 10px
}
.success-button:hover { background-color: #218838; }

.info-button {
  background-color: #17a2b8;
}
.info-button:hover { background-color: #138496; }

.warning-button {
  background-color: #ffc107;
  color: #212529;
}
.warning-button:hover { background-color: #e0a800; }

.danger-button {
  background-color: #dc3545;
}
.danger-button:hover { background-color: #c82333; }
